<%- include("../partials/header") %>

<div class="container">
    <div class="text-center">
        <h1 class="display-1 color-prim"><%=id%></h1>
        <h1 class="dispay-4"><%=currentSession.username%></h1>

        <hr>

        <div id="messages" class="overflow-auto"></div>


        <div class="chat">
            <form class="form-inline" id="send">
                <div class="form-group mx-sm-3 mb-2">
                  <input type="text" class="form-control" id="m" placeholder="Type a message">
                </div>
                <button type="submit" class="btn btn-outline-light mb-2">Send</button>
              </form>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

  $(function () {
    var socket = io();
    console.log('<%=currentSession.id%>');
    socket.emit('new user', {id: '<%=currentSession.id%>', username: "<%=currentSession.username%>", gameid: "<%=currentSession.gameid%>"});

    //Sending messages
    $('form').submit(function(e) {
      e.preventDefault(); // prevents page reloading
      var data = {msg: $('#m').val(), username: "<%=currentSession.username%>", gameid: "<%=currentSession.gameid%>"};
      socket.emit('lobby message', data);
      $('#m').val('');
      return false;
    });

    //Receiving messages
    socket.on('connect message', function(text){
      $('#messages').append($('<p class="chat-msg">').text(text));
    });

    socket.on('lobby message', function(msg){
      $('#messages').append($('<p class="chat-msg">').text(msg.username + ": " + msg.msg));
    });
  });;
</script>


<%- include("../partials/footer") %>