<%- include("../partials/header") %>

<div class="row">
  <div class="col-sm">
    <div class="side-bar text-center">
      <h1 class="side-bar-content">Settings</h1>
      <button class="btn btn-outline-light side-bar-content btn-lg">Start</button>
    </div>
  </div>
  <div class="col-sm">
    <div class="text-center">
      <h1 class="display-1 color-prim"><%=id%></h1>
      <h4>Share this code with your friends</h4>
  
      <hr>
  
      <div id="messages" class="overflow-auto"></div> 
  
  
      <div class="chat">
          <form class="form-inline" id="send">
              <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" id="m" placeholder="Type a message">
              </div>
              <button type="submit" class="btn btn-outline-light mb-2">Send</button>
            </form>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="side-bar text-center" id="players">
      <h1 class="side-bar-content">Players</h1>
    </div>
  </div>
</div>




<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  var gameid = '<%=currentSession.gameid%>';



  $(function () {
    var socket = io();
    socket.emit('new user', {id: '<%=currentSession.id%>', username: "<%=currentSession.username%>", gameid: "<%=currentSession.gameid%>"});

    //Sending messages
    $('form').submit(function(e) {
      e.preventDefault(); // prevents page reloading
      var data = {msg: $('#m').val(), username: "<%=currentSession.username%>", gameid: "<%=currentSession.gameid%>"};
      socket.emit('lobby message', data);
      $('#m').val('');
      return false;
    });

    //Receiving messages
    socket.on('connect message', function(data){
      if(data.connected){
        $('#players').append($('<p class="side-bar-content" id="'+ data.username + '">').text(data.username));
        $('#messages').append($('<p class="chat-msg">').text(data.username + " connected"));
      }
      else{
        $('#' + data.username).remove();
        $('#messages').append($('<p class="chat-msg">').text(data.username + " disconnected"));
      }
    });

    socket.on('lobby message', function(msg){
      $('#messages').append($('<p class="chat-msg">').text(msg.username + ": " + msg.msg));
    });
  });;
</script>


<%- include("../partials/footer") %>